<span class="content-border">
 <a class="skins cboxElement" href="https://am-a.akamaihd.net/image?f=https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Patch_10_1_Infographic_CROP-spa.jpg">
  <img src="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Patch_10_1_Infographic_CROP-spa.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Patch_10_2_Infographic_1080x1080-spa---Copy.jpg">
  <img src="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Patch_10_2_Infographic_1080x1080-spa---Copy.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Patch_10_3_Infographic_1080x1080-spa.jpg">
  <img src="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Patch_10_3_Infographic_1080x1080-spa.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Copy-of-Patch_10_4_Infographic_1080x1080-spa.jpg">
  <img src="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/Copy-of-Patch_10_4_Infographic_1080x1080-spa.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/es_es_UPDATED-Patch_10_5_Infographic_1080x1080.jpg">
  <img src="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/es_es_UPDATED-Patch_10_5_Infographic_1080x1080.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/APatch_10_6_Infographic_1080x1080-spa.jpg">
  <img src="https://lolstatic-a.akamaihd.net/content/eu/PatchHighlights/2020/APatch_10_6_Infographic_1080x1080-spa.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://riot-web-cdn.s3.us-west-1.amazonaws.com/content/eu/PatchHighlights/2020/es_es_Patch-10.jpg">
  <img src="https://riot-web-cdn.s3.us-west-1.amazonaws.com/content/eu/PatchHighlights/2020/es_es_Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt46a8021363851e03/5e9591cc73ed5d349d31c52e/es_es_Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt46a8021363851e03/5e9591cc73ed5d349d31c52e/es_es_Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt998a2a33f7d36f39/5ea8090dea2a04243200cae9/es_es_Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt998a2a33f7d36f39/5ea8090dea2a04243200cae9/es_es_Patch-10.jpg"/>
 </a>
</span>
<h4 class="change-detail-title ability-title">
 <img src="https://am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/10.9.1/img/champion/Caitlyn.png"/>
 Caitlyn
</h4>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt38cac72f4ea7788a/5ece4608eab6b36d0fd81f4b/es_es_Patch_10.11_Infographic_1080x1080.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt38cac72f4ea7788a/5ece4608eab6b36d0fd81f4b/es_es_Patch_10.11_Infographic_1080x1080.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blte9faea6b9115bf24/5edf663e98e62f38ec84d82d/es_es_Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blte9faea6b9115bf24/5edf663e98e62f38ec84d82d/es_es_Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf70677f97dcf4bcd/5ef22ac943f6b42a0243386a/es_es_Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf70677f97dcf4bcd/5ef22ac943f6b42a0243386a/es_es_Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc5ad8116aeb3d044/5f045d4ba6e8d0446e91d111/es_es_Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc5ad8116aeb3d044/5f045d4ba6e8d0446e91d111/es_es_Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt072e51a197513efe/5f16da58100ef758d9139b72/es-Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt072e51a197513efe/5f16da58100ef758d9139b72/es-Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt1c839629ddbfc773/5f295c72c9ec57071816cb29/es-Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt1c839629ddbfc773/5f295c72c9ec57071816cb29/es-Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt3d00833ce1d8e031/5f4e2bb74c9f7223b8cd7ff5/Patch_10.18_Infographic-spa.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt3d00833ce1d8e031/5f4e2bb74c9f7223b8cd7ff5/Patch_10.18_Infographic-spa.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6c68371b4fc60092/5f60b270ad6ff34788c0390c/ES-Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6c68371b4fc60092/5f60b270ad6ff34788c0390c/ES-Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt67aaa0f62fe82875/5f7345b01868224e73cb1196/ES-Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt67aaa0f62fe82875/5f7345b01868224e73cb1196/ES-Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt1dad36e9293ab49b/5f8589381252ff30caf60c7e/ES-Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt1dad36e9293ab49b/5f8589381252ff30caf60c7e/ES-Patch-10.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blta7d7ef4146228e62/5f9823e6fe49b57a83a14562/ES-Patch-10.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blta7d7ef4146228e62/5f9823e6fe49b57a83a14562/ES-Patch-10.jpg"/>
 </a>
</span>
<iframe allowfullscreen="" frameborder="0" id="fitvid743266" name="fitvid743266" src="https://www.youtube.com/embed/JAn_yyF9Ixc?rel=0&amp;showinfo=0">
</iframe>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltbee1997a5dbec4bc/5fbba3f84e40cf53001f92c8/ES-Patch-10.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltbee1997a5dbec4bc/5fbba3f84e40cf53001f92c8/ES-Patch-10.jpg"/>
</a>
<blockquote class="blockquote context">
 Lo prometido es deuda: aquí tenéis una última ronda de ajustes de equilibrio para asegurarnos de que el juego está en un estado saludable antes de irnos de vacaciones de navidad. ¡Felices fiestas y nos vemos en enero!
</blockquote>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt138c75afec797398/5ff44f681688a075156a6d3b/ES-Patch-11.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt138c75afec797398/5ff44f681688a075156a6d3b/ES-Patch-11.jpg"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd4e8212a204f3159/600814020839e910126d53b4/ES-Patch-11.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd4e8212a204f3159/600814020839e910126d53b4/ES-Patch-11.jpg"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt06f6572be394bf46/601939c89a7bfd14d27308fc/ES-Patch-11.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt06f6572be394bf46/601939c89a7bfd14d27308fc/ES-Patch-11.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt8b61311316640e88/602d2256ef8bb07005123814/ES-LoL-PC-Patch-11.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt8b61311316640e88/602d2256ef8bb07005123814/ES-LoL-PC-Patch-11.jpg"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt8ffad2d611c98dc5/603e4925a8c6585cda24a59c/Patch-11.5-Infographic-spa.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt8ffad2d611c98dc5/603e4925a8c6585cda24a59c/Patch-11.5-Infographic-spa.jpg"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt091706b80b882e70/60509a44279da84f27967bb4/ES-Patch-11.png">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt091706b80b882e70/60509a44279da84f27967bb4/ES-Patch-11.png"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt34c019a491b7a9c8/60630043dfb49b0f38b4c8a1/ES-Patch-11_7.png">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt34c019a491b7a9c8/60630043dfb49b0f38b4c8a1/ES-Patch-11_7.png"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd67062d459cd7084/60757ddd74ef7c0f6a07dbb4/1304_Lol_Patch_118_ES.png">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd67062d459cd7084/60757ddd74ef7c0f6a07dbb4/1304_Lol_Patch_118_ES.png"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt7e5c619d4f06bb2e/6087e970b9440f10206e93ed/ES-Patch-11.png">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt7e5c619d4f06bb2e/6087e970b9440f10206e93ed/ES-Patch-11.png"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt707bdd9896643c5d/609a71daea72f24924be07cf/ES-Patch-11.png">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt707bdd9896643c5d/609a71daea72f24924be07cf/ES-Patch-11.png"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt775136f2f3017119/60acd612909370737ae4a004/ES-Patch-11.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt775136f2f3017119/60acd612909370737ae4a004/ES-Patch-11.jpg"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt05ec77fd14d81b9c/60bf4c61971f487708eb1cf4/ES-Patch-11.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt05ec77fd14d81b9c/60bf4c61971f487708eb1cf4/ES-Patch-11.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6b7bdb43f8f94ab7/60d1bbd9e1b3f7481347e6fd/ES-Patch-11.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6b7bdb43f8f94ab7/60d1bbd9e1b3f7481347e6fd/ES-Patch-11.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt3d00a873b975c0a5/60e582242eb77d200fac9bc5/ES_11774_Patch_11.14_Infographic.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt3d00a873b975c0a5/60e582242eb77d200fac9bc5/ES_11774_Patch_11.14_Infographic.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd6bbd07b081a75f7/60f82f1f429fb95880e5876d/ES_12033_Patch_11.15_Infographic_updated.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd6bbd07b081a75f7/60f82f1f429fb95880e5876d/ES_12033_Patch_11.15_Infographic_updated.jpg"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt4440166b6c3a6f44/611251fefef0ad1b8c9c02bc/ES_12244_LOL_11.16-Infographic_1920x1080_TTan_v01.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt4440166b6c3a6f44/611251fefef0ad1b8c9c02bc/ES_12244_LOL_11.16-Infographic_1920x1080_TTan_v01.jpg"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt31fd4e1e8ec13e93/6124ca0807866d6a2d820204/ES_12458_LOL_11.17-Infographic_1920x1080_JCao_v01.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt31fd4e1e8ec13e93/6124ca0807866d6a2d820204/ES_12458_LOL_11.17-Infographic_1920x1080_JCao_v01.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltfe2b49dd441983d1/6138c30c876fcf3cb80c36f3/ES_12714_LOL_11.18-Infographic_1920x1080_JCao_v01-spa.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltfe2b49dd441983d1/6138c30c876fcf3cb80c36f3/ES_12714_LOL_11.18-Infographic_1920x1080_JCao_v01-spa.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt707f9095aaa36b23/6149a3869d27cf7da4ba1734/ES_12922_LOL_11.19-Infographic_1920x1080_JCao_v01.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt707f9095aaa36b23/6149a3869d27cf7da4ba1734/ES_12922_LOL_11.19-Infographic_1920x1080_JCao_v01.jpg"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf9356195574c2bc5/615c320a58e1f54c5cbc5d1f/ES_13233_LOL_11.20-Infographic_1920x1080_JCao_v01.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltf9356195574c2bc5/615c320a58e1f54c5cbc5d1f/ES_13233_LOL_11.20-Infographic_1920x1080_JCao_v01.jpg"/>
 </a>
</span>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6a9ca3be0a40f9f0/616ed24307e8d45c8bfae454/ES_13544_LOL_11.21-Infographic_1920x1080_JCao_v01.jpg">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt6a9ca3be0a40f9f0/616ed24307e8d45c8bfae454/ES_13544_LOL_11.21-Infographic_1920x1080_JCao_v01.jpg"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltdc31b140f2713a29/6182877f6676ac790d1b896e/13970_LOL_11.22-Infographic_1920x1080_JCao_v01_ES.jpg" target="_blank">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltdc31b140f2713a29/6182877f6676ac790d1b896e/13970_LOL_11.22-Infographic_1920x1080_JCao_v01_ES.jpg"/>
</a>
<span class="content-border">
 <a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt219ae8e651abce6f/61939b5cd193b36297ef8345/LOL_11.23-Infographic_1920x1080_JCao_v01_ES.jpg?disposition=inline">
  <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt219ae8e651abce6f/61939b5cd193b36297ef8345/LOL_11.23-Infographic_1920x1080_JCao_v01_ES.jpg?disposition=inline"/>
 </a>
</span>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blta8cc52e3c72b2a1e/61b0dca336ee4913aa009523/LOL_11.24-Infographic_1920x1080_JCao_v01_update_ES.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blta8cc52e3c72b2a1e/61b0dca336ee4913aa009523/LOL_11.24-Infographic_1920x1080_JCao_v01_update_ES.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt91d259acb86c1ffb/61d4731dc548b77c207dd811/LOL_12.1-Infographic_1920x1080_JCao_v05_ES.jpg" target="_blank">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt91d259acb86c1ffb/61d4731dc548b77c207dd811/LOL_12.1-Infographic_1920x1080_JCao_v05_ES.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt0a83518d41c61d2a/61e83922581db15a1fe9859f/LOL_12.2-Infographic_1920x1080_JCao_v01_ES.jpg?disposition=inline" target="_blank">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt0a83518d41c61d2a/61e83922581db15a1fe9859f/LOL_12.2-Infographic_1920x1080_JCao_v01_ES.jpg?disposition=inline"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt1095ef5c45fc74cb/61f90eff19a2b06354d108c2/LOL_12.3-Infographic_1920x1080_JCao_v01_ES.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt1095ef5c45fc74cb/61f90eff19a2b06354d108c2/LOL_12.3-Infographic_1920x1080_JCao_v01_ES.jpg"/>
</a>
<a class="skins cboxElement" href="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt9d3677336cd30b1b/620b84e03ac90d22f4b73023/LOL_12.4-Infographic_1920x1080_JCao_v01_ES.jpg">
 <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt9d3677336cd30b1b/620b84e03ac90d22f4b73023/LOL_12.4-Infographic_1920x1080_JCao_v01_ES.jpg"/>
</a>